<div class="row section topspace">
    {{ range where .Data.Pages "Section" .Section }}
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                {{ .Content }}
            </div>
            <div class="col-lg-4 text-right">
                <a class="thumbnail" href="{{ .Params.url }}">
                    <span class="img">
                        <video muted autoplay="autoplay" preload="metadata" poster="{{ .Params.image }}">
                            <source src="{{ .Params.video }}" type="video/mp4">
                        </video>
                    </span>
                    <span class="project">{{ .Params.title }}</span>
                </a>
            </div>
        </div>
    </div>
    {{ end }}
</div> <!-- /section -->
